/* Definindo as variáveis para cores */
:root {
    --primary: #0ea5e9;
    --primary-dark: #0284c7;
    --primary-light: #38bdf8;
    --secondary: #f0f9ff;
    --dark: #0f172a;
    --light: #f8fafc;
    --text-dark: #1e293b;
    --text-light: #f8fafc;
    --background-light: #ffffff;
    --background-dark: #111827;
}

/* Tema Claro (Modo Padrão) */
body {
    background-color: var(--background-light);
    color: var(--text-dark);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: var(--primary);
}

/* Tema Escuro */
.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-light);
}

.dark-mode h1 {
    color: var(--primary-light);
}

/* Estilo para o botão de troca de tema */
#theme-toggle {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#theme-toggle:hover {
    background-color: var(--primary-dark);
}
